<launch>
    <node name="serial1" pkg="rosserial_python" type="serial_node.py" output="screen">
        <param name="port" value="/dev/ttyACM0"/>
        <param name="baud" value="4608000"/>
    </node>
    <node name="serial2" pkg="rosserial_python" type="serial_node.py" output="screen">
        <param name="port" value="/dev/ttyACM1"/>
        <param name="baud" value="4608000"/>
    </node>
    <node name="trackername" pkg = "tracker" type = "app.py" />
    <node name="controller" pkg = "guiControl" type = "app.py" />
</launch>